#display {
  width: 100%;
  height: 90px;
  font-size: 24px;
  text-align: left;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #f0f0f0;
box-shadow: 0 0 3px rgba(0,0,0,0.61);
  
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 20px;
}

button {
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0,0,0,0.61);
}

button:hover {
  background-color: #ccc;
}
.equals{
  background-color: #2ecc71;
    padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  }
  
  .equals:hover {
    background-color: #ccc;
  }
  
  .clear{
    background-color: #498eff;
padding: 10px;
font-size: 18px;
border: none;
border-radius: 10px;
cursor: pointer;
}

.clear:hover {
  background-color: #ccc;
}
.del{
  background-color: rgba(255, 78, 78, 1);
padding: 10px;
font-size: 18px;
border: none;
border-radius: 10px;
cursor: pointer;
}

.del:hover {
  background-color: #ccc;
}
.symbols{
  background-color: darkorange;
padding: 10px;
font-size: 18px;
border: none;
border-radius: 10px;
cursor: pointer;
}

.symbols:hover {
  background-color: #ccc;
}
